* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 1.1vw, 26px);
  line-height: 1.2;
  color: #000000;
}
.toolbar-holder {
  padding: 10px 0;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999999;
}
.toolbar-holder .toolbar-flex {
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.toolbar-holder .toolbar-flex .input-element {
  padding: 15px 15px;
  flex-basis: auto;
  min-width: 250px;
}
.fretboard-section {
  width: 100%;
  margin: 30px 0;
  overflow-y: scroll;
  background-color: #B88E72;
  border-top: 2px solid palegoldenrod;
  border-bottom: 2px solid palegoldenrod;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
}
.fretboard-section .fretboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20px;
}
.fretboard-section .fretboard .fret {
  height: 200px;
  flex-basis: 10%;
  min-width: 130px;
  flex-shrink: 0;
  border-left: 3px solid #848789;
  border-radius: 5px;
  position: relative;
}
.fretboard-section .fretboard .fret .string {
  width: 102%;
  background-color: #b5b6b5;
  height: 6px;
  position: absolute;
  left: 0;
  top: 8%;
  z-index: 40;
}
.fretboard-section .fretboard .fret .string .note-value {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  transform: translate(-50%, -50%);
  z-index: 50;
  color: black;
  text-align: center;
  padding: 2px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);
}
.fretboard-section .fretboard .fret .string .note-value.root {
  background-color: red;
  border: 2px solid red;
}
.fretboard-section .fretboard .fret .string .note-value.b_second {
  background-color: orange;
  border: 2px solid orange;
}
.fretboard-section .fretboard .fret .string .note-value.second {
  background-color: yellow;
  border: 2px solid yellow;
}
.fretboard-section .fretboard .fret .string .note-value.b_third {
  background-color: chartreuse;
  border: 2px solid chartreuse;
}
.fretboard-section .fretboard .fret .string .note-value.third {
  background-color: green;
  border: 2px solid green;
}
.fretboard-section .fretboard .fret .string .note-value.fourth {
  background-color: SpringGreen;
  border: 2px solid SpringGreen;
}
.fretboard-section .fretboard .fret .string .note-value.b_fifthxsharp_fourth {
  background-color: cyan;
  border: 2px solid cyan;
}
.fretboard-section .fretboard .fret .string .note-value.fifth {
  background-color: azure;
  border: 2px solid azure;
}
.fretboard-section .fretboard .fret .string .note-value.b_sixth {
  background-color: blue;
  border: 2px solid blue;
}
.fretboard-section .fretboard .fret .string .note-value.sixth {
  background-color: violet;
  border: 2px solid violet;
}
.fretboard-section .fretboard .fret .string .note-value.b_seventh {
  background-color: magenta;
  border: 2px solid magenta;
}
.fretboard-section .fretboard .fret .string .note-value.seventh {
  background-color: pink;
  border: 2px solid pink;
}
.fretboard-section .fretboard .fret .string:nth-child(2) {
  height: 5px;
  top: 24%;
}
.fretboard-section .fretboard .fret .string:nth-child(3) {
  height: 4px;
  top: 40%;
}
.fretboard-section .fretboard .fret .string:nth-child(4) {
  height: 3px;
  top: 58%;
}
.fretboard-section .fretboard .fret .string:nth-child(5) {
  height: 2px;
  top: 75%;
}
.fretboard-section .fretboard .fret .string:last-child {
  height: 1px;
  top: 92%;
}
.fretboard-section .fretboard .fret.fret-zero {
  min-width: auto;
  width: 0;
  flex-basis: auto;
  border: none;
}
.fretboard-section .fretboard .fret.fret-zero .string .note-value {
  background-color: transparent;
}
.fretboard-section .fretboard .fret:last-child {
  border-right: 3px solid grey;
}
.fretboard-section .fretboard .fret:nth-child(4)::after,
.fretboard-section .fretboard .fret:nth-child(6)::after,
.fretboard-section .fretboard .fret:nth-child(8)::after,
.fretboard-section .fretboard .fret:nth-child(10)::after,
.fretboard-section .fretboard .fret:nth-child(16)::after,
.fretboard-section .fretboard .fret:nth-child(18)::after,
.fretboard-section .fretboard .fret:nth-child(20)::after,
.fretboard-section .fretboard .fret:nth-child(22)::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.fretboard-section .fretboard .fret:nth-child(13)::after,
.fretboard-section .fretboard .fret:nth-child(13)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 200px;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.fretboard-section .fretboard .fret:nth-child(13)::before {
  top: 33%;
}
.modes-table {
  padding-bottom: 30px;
}
