* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */
}
html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 1.1vw, 26px);
    line-height: 1.2;
    color: #000000;
}

@root: red;
@b_second: orange;
@second: yellow;
@b_third: chartreuse;
@third: green;
@fourth: SpringGreen;
@b_fifth: cyan;
@fifth: azure;
@b_sixth: blue;
@sixth: violet;
@b_seventh: magenta;
@seventh: pink;


.toolbar-holder {
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999999;

    .toolbar-flex {
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .input-element {
            padding: 15px 15px;
            flex-basis: auto;
            min-width: 250px;
        }
    }
}

.fretboard-section {
    width: 100%;
    margin: 30px 0;
    overflow-y: scroll;
    background-color: #B88E72;
    border-top: 2px solid palegoldenrod;
    border-bottom: 2px solid palegoldenrod;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);

    .fretboard {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 20px;

        .fret {
            height: 200px;
            flex-basis: 10%;
            min-width: 130px;
            flex-shrink: 0;
            border-left: 3px solid #848789;
            border-radius: 5px;
            position: relative;

            .string{
                width: 102%;
                background-color: #b5b6b5;
                height: 6px;
                position: absolute;
                left: 0;
                top: 8%;
                z-index: 40;
                // box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);


                .note-value {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    border-radius: 200px;
                    transform: translate(-50%, -50%);
                    z-index: 50;
                    // color: white;
                    color: black;
                    text-align: center;
                    padding: 2px;
                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.36);

                    &.root {
                        background-color: @root;
                        border: 2px solid @root;
                    }
                    &.b_second {
                        background-color: @b_second;
                        border: 2px solid @b_second;
                    }
                    &.second {
                        background-color: @second;
                        border: 2px solid @second;
                    }
                    &.b_third {
                        background-color: @b_third;
                        border: 2px solid @b_third;
                    }
                    &.third {
                        background-color: @third;
                        border: 2px solid @third;
                    }
                    &.fourth {
                        background-color: @fourth;
                        border: 2px solid @fourth;
                    }
                    &.b_fifthxsharp_fourth {
                        background-color: @b_fifth;
                        border: 2px solid @b_fifth;
                    }
                    &.fifth {
                        background-color: @fifth;
                        border: 2px solid @fifth;
                    }
                    &.b_sixth {
                        background-color: @b_sixth;
                        border: 2px solid @b_sixth;
                    }
                    &.sixth {
                        background-color: @sixth;
                        border: 2px solid @sixth;
                    }
                    &.b_seventh {
                        background-color: @b_seventh;
                        border: 2px solid @b_seventh;
                    }
                    &.seventh {
                        background-color: @seventh;
                        border: 2px solid @seventh;
                    }
                }

                &:nth-child(2) {
                    height: 5px;
                    top: 24%;
                }

                &:nth-child(3) {
                    height: 4px;       
                    top: 40%;
                }

                &:nth-child(4) {
                    height: 3px; 
                    top: 58%;
                }

                &:nth-child(5) {
                    height: 2px;
                    top: 75%;
                }

                &:last-child {
                    height: 1px;
                    top: 92%;
                }
            }

            &.fret-zero {
                min-width: auto;
                width: 0;
                flex-basis: auto;
                border: none;
                .string {
                    .note-value {
                        background-color: transparent;
                    }
                }
            }

            &:last-child {
                border-right:  3px solid grey;
            }


            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(10),
            &:nth-child(16), 
            &:nth-child(18), 
            &:nth-child(20),
            &:nth-child(22) {

                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    border-radius: 200px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }
               
            }
        
            &:nth-child(13) {

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    border-radius: 200px;
                    top: 66%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                }

                &::before {
                    top: 33%;
                }
                
            }
        }
    }



    



   
}

.modes-table {
    width: 96%;
    margin: 0 auto;
    padding-bottom: 30px;
}

